NEXT_PUBLIC_API_HOST=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# openssl rand -base64 32

NEXTAUTH_SECRET=

DATABASE_URL=mysql://root:secret@127.0.01:3306/prisma

# auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=